* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: #ffffff;
  color: #171717;
  padding-bottom: 10%;
}

@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/banner";
@import "./partials/plans";
@import "./partials/faq";
@import "./partials/contact/contact";
@import "./partials/login/login";
@import "./partials/footer";
