/* welcome section of the webpage */
.descripcion {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5em;
  padding-top: 5%;
  h1 {
    text-align: center;
    font-size: 5rem;
  }
  p {
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    line-height: 2.4rem;
    text-align: justify;
  }
  .name {
    color: #ffd000;
  }
}

/* membership plans section */
.div-line {
  display: flex;
  flex-direction: row;
  hr {
    display: block;
  }
}
