footer {
  background-color: #000000;
  color: #ffffff;
  margin-top: 0px;

  h4 {
    color: #ffd000;
  }

  .bi-youtube {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    &:hover {
      color: #ff0000;
    }
  }

  .bi-facebook {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    &:hover {
      color: #4267b2;
    }
  }

  .bi-instagram {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    &:hover {
      background: -webkit-linear-gradient(
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #f77737,
        #fcaf45,
        #ffdc80
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .legal {
    margin-top: 30px;
  }
}
