@mixin bg-btn() {
    background-color: #ffd000;
    color: #171717;
    border: #171717;
    font-weight: bold;
}

@mixin o-btn() {
    background-color: #ffd000;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
}

@mixin bfb {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #4267b2;
}
@mixin byt {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #ff0000;
}
@mixin big {
  text-align: center;
    margin-left: 5px;
    margin-right: 5px;
      background: -webkit-linear-gradient(
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #f77737,
        #fcaf45,
        #ffdc80
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}