.lgf {
  flex: 3 1 0%;
  display: flex;
  justify-content: center;
  padding: 10%;
}

form {
  border: 3px solid #f1f1f1;
  width: 500px;
  max-width: 100%;
}
.loginform {
  padding: 0 10%;
}
.info {
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.uname,
.psw {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-btn {
  background-color: #ffd000;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  &:hover {
    opacity: 0.8;
  }
}
.cancel-btn{
  @extend .login-btn;
  background-color: #f44336;
  border-radius: 5px;
}
.rmbr {
  margin-left: 50%;
  font-weight: bold;
}
.fgt {
  padding: 16px 50px;
  margin-top: 20px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  a {
    font-weight: bold;
    text-decoration: none;
  }
}