/* ESTILO DEL CONTACT US SECTION */
/* creating the grid area for contact info */

/* removing dots from lists */
.ctc{
  padding-top: 5%;
  padding-bottom: 10%;
}
ul{
  list-style: none;
}
.scl {
  display: flex;
  justify-content: space-around;
  li {
    list-style: none;
    display: inline-block;
    .bi-facebook{
      @include bfb;
    }
    .bi-youtube{
      @include byt
    }
    .bi-instagram{
      @include big
    }
  }
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* Style the submit button */
input[type="submit"] {
  @include o-btn;
  &:hover {
    opacity: 0.8;
  }
}


/* Add a background color around the form */
.msg {
  text-align: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  h1 {
    text-align: center;
  }
}
