/* ESTILO DEL CONTACT US SECTION */
h2{
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}
.ctc{
  padding-top: 5%;
  padding-bottom: 10%;
  h2{
    border-bottom: 1px solid #dfdfdf;
  }
}
ul{
  list-style: none;
}
.scl {
  display: flex;
  justify-content: space-around;
  li {
    list-style: none;
    display: inline-block;
    .bi-facebook{
      @include bfb;
    }
    .bi-youtube{
      @include byt
    }
    .bi-instagram{
      @include big
    }
  }
}
.ctcinfo{
  li{
    padding: 1% 0;
    iframe{
      max-width: 100%;
      padding-top: 5%;
    }
  }
}
.faq{
  text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    h2{
      font-size: 4rem;
      font-weight: bold;
    }
}
.questions{
  padding-top: 5%;
  padding-bottom: 5%;
  border-left: 1px solid #dfdfdf;
  @media screen and (max-width: 992px) {
    border: none;
  }
  @media screen and (max-width: 768px) {
    border: none;
  }
  @media screen and (max-width: 480px) {
    border: none;
  }
  li{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}
/* Style inputs with type="text", select elements and textareas */
.qfrm{
  padding-top: 5%;
}
input[type="text"],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* Style the submit button */
input[type="submit"] {
  @include o-btn;
  &:hover {
    opacity: 0.8;
  }
}
